<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiexue.potentfiction.mapper.WxUserMapper" >
  <resultMap id="BaseResultMap" type="com.tiexue.potentfiction.entity.WxUser" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="HeaderIcon" property="headericon" jdbcType="VARCHAR" />
    <result column="Signature" property="signature" jdbcType="VARCHAR" />
    <result column="Pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="UserType" property="usertype" jdbcType="INTEGER" />
    <result column="Coin" property="coin" jdbcType="INTEGER" />
    <result column="Deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="DeviceCode" property="devicecode" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="WeixinId" property="weixinid" jdbcType="VARCHAR" />
    <result column="WeixinToken" property="weixintoken" jdbcType="VARCHAR" />
    <result column="Token" property="token" jdbcType="VARCHAR" />
    <result column="LastActiveTime" property="lastactivetime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tiexue.potentfiction.entity.WxUser" extends="BaseResultMap" >
    <result column="AutoPurchase" property="autopurchase" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Name, HeaderIcon, Signature, Pwd, UserType, Coin, Deadline, DeviceCode, Status, 
    Mobile, WeixinId, WeixinToken, Token, LastActiveTime, CreateTime, UpdateTime
  </sql>
  <sql id="Blob_Column_List" >
    AutoPurchase
  </sql>
  <insert id="insertSelective" parameterType="com.tiexue.potentfiction.entity.WxUser" >
    insert into wxuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="headericon != null" >
        HeaderIcon,
      </if>
      <if test="signature != null" >
        Signature,
      </if>
      <if test="pwd != null" >
        Pwd,
      </if>
      <if test="usertype != null" >
        UserType,
      </if>
      <if test="coin != null" >
        Coin,
      </if>
      <if test="deadline != null" >
        Deadline,
      </if>
      <if test="devicecode != null" >
        DeviceCode,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="mobile != null" >
        Mobile,
      </if>
      <if test="weixinid != null" >
        WeixinId,
      </if>
      <if test="weixintoken != null" >
        WeixinToken,
      </if>
      <if test="token != null" >
        Token,
      </if>
      <if test="lastactivetime != null" >
        LastActiveTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="autopurchase != null" >
        AutoPurchase,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="headericon != null" >
        #{headericon,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="coin != null" >
        #{coin,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="devicecode != null" >
        #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="weixinid != null" >
        #{weixinid,jdbcType=VARCHAR},
      </if>
      <if test="weixintoken != null" >
        #{weixintoken,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastactivetime != null" >
        #{lastactivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="autopurchase != null" >
        #{autopurchase,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiexue.potentfiction.entity.WxUser" >
    update wxuser
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="headericon != null" >
        HeaderIcon = #{headericon,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        Signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        Pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        UserType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="coin != null" >
        Coin = #{coin,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        Deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="devicecode != null" >
        DeviceCode = #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        Mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="weixinid != null" >
        WeixinId = #{weixinid,jdbcType=VARCHAR},
      </if>
      <if test="weixintoken != null" >
        WeixinToken = #{weixintoken,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        Token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastactivetime != null" >
        LastActiveTime = #{lastactivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="autopurchase != null" >
        AutoPurchase = #{autopurchase,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>