header {
    height: 44px;
    background: #32c9ba;
    position: relative;
    top: 0;
    left: 0;
    line-height: 43px;
}
header.nav{text-align: center;color: #fff}
.wrap{padding: 0 12px;}

.shelf {
    line-height: 26px;
}

#wxpaylist{
	width:100%;
}
#wxpaylist thead tr th{
	text-align:center;
	padding: 10px 4px 10px 4px;
}

#wxpaylist tbody tr td{
	text-align:center;
	padding: 6px 4px 6px 4px;
}

.pager{
	text-align:center;
	list-style: none;
}

.pager li{
	width:25%;
	float:left;
	text-align: center;
}
